body {
    background-color: #b1ff00;
    margin: 0;
}

img.logo {
    display: block;
	margin: auto;
    width: 50%;
    height: 50%;
}

@font-face {
    font-family:mainFont;
    src:url(fonts/coolvetica_rg.ttf);
}

@font-face {
    font-family:secondaryFont;
    src:url(fonts/basictitlefont.ttf);
}

a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
    text-decoration :none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

#wrapper {
  width:1000px;
  margin: -10px auto;
  background-color: #78ad00; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden
}

.video-container iframe,.video-container object,.video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

h1.video {
    font-family:secondaryFont;
    color:#fff;
    margin:2%;
    border-bottom: 1px solid #fff;
}

h1.infoHeader {
    font-family:mainFont;
    color:#fff;
}

p.infoText {
    font-family:arial;
    color:#fff;
}

div.information {
    padding-bottom:2%;
    text-align:left;
}

div.footer {
    background-color: #0f4a1d;
    padding-bottom:3%;
    padding-top:2%;
    width:100%;
}

p.footer {
    font-family:secondaryFont;
    color:#fff;
    text-align:center;
    margin:0;
    padding:0;
}

h1.contactHeader {
    font-family:mainFont;
    color:#fff;
    text-align:right;
}

p.contact {
    font-family:arial;
    color:#fff;
    text-align:right;
}

div.info {
    padding-left:2%;
    padding-right:2%;
}

p.colorChangerText {
	font-family: secondaryFont;
	color: white;
	font-size: 100%;
	box-sizing: border-box;
}

#colorChanger {
	background-color: #0f4a1d;
	padding: 0.5%;
	width: 1000px;
	z-index: 1;
    box-sizing: border-box;
}

#main {
	overflow: hidden;
	position: relative;
}

#green {
	border: 1px solid white;
}

#Options {
	margin-bottom: -19px;
}

p.textOptions {
	text-align: center;
	font-family: secondaryFont;
	color: white;
	font-size: 120%;
	z-index: 2
}

p#hide {
	float: right;
	font-family: secondaryFont;
	color: white;
	font-size: 100%;
}