@font-face {
    font-family:robot;
    src:urL(fonts/Roboto-Light.ttf);
	src:urL(fonts/Roboto-Light.woff)
}

@font-face {
	font-family: Opti;
	src: url(fonts/Opificio_neue-regular.ttf);
	src: url(fonts/Opificio_neue-regular.woff);
}

/*fonts */

body {
	background-color: #272762;
	margin: 0;
	overflow-x: hidden;
	line-height: 2; 
}

#logo-img {
	opacity: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: auto;
	min-width: 10%;
	max-height: auto;
	max-width: 100%;
}

#sec1-wrapper {
	box-shadow: 0px 0px 20px black inset;
}

#section-1 {
	background-image: url(img/header-bg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	height: 600px;
	width: 100%;
}

#sec1-logo{
	height: 75%;
	width: 75%;
	margin-left: 25%;
}

#sec1-logo-helper {
	width: 75%;
	float: left;
	height: 600px;
	background:url(img/square-logo.png) no-repeat center center;
}

#nav-sec1-container {
	float: right;
	width: 25%;
	height: 600px;
	background-color: rgba(78, 39, 111, 0.7);
}

a {
	text-decoration: none;
}

#sec1-nav-list {
	list-style-type: none;
	overflow: hidden;
}

#sec1-nav-link1 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 1);
	font-size: 150%;
	padding-right: 1px;
	margin-top: 200px;
	-webkit-animation: nav-leave-1 0.1s linear;
	-moz-animation: nav-leave-1 0.1s linear;
	-ms-animation: nav-leave-1 0.1s linear;
}

#sec1-nav-link2 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-2 0.1s linear;
	-moz-animation: nav-leave-2 0.1s linear;
	-ms-animation: nav-leave-2 0.1s linear;
}

#sec1-nav-link3 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-3 0.1s linear;
	-moz-animation: nav-leave-3 0.1s linear;
	-ms-animation: nav-leave-3 0.1s linear;
}

#sec1-nav-link4 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-4 0.1s linear;
	-moz-animation: nav-leave-4 0.1s linear;
	-ms-animation: nav-leave-4 0.1s linear;
}

#sec1-nav-link1:hover {
	background-color: #a72d2d;
	-webkit-animation: nav-enter-1 0.1s linear;
	-moz-animation: nav-enter-1 0.1s linear;
	-ms-animation: nav-enter-1 0.1s linear;
}

#sec1-nav-link2:hover {
	background-color: #e09100;
	-webkit-animation: nav-enter-2 0.1s linear;
	-moz-animation: nav-enter-2 0.1s linear;
	-ms-animation: nav-enter-2 0.1s linear;
}

#sec1-nav-link3:hover {
	background-color: green;
	-webkit-animation: nav-enter-3 0.1s linear;
	-moz-animation: nav-enter-3 0.1s linear;
	-ms-animation: nav-enter-3 0.1s linear;
}

#sec1-nav-link4:hover {
	background-color: #2256ba;
	-webkit-animation: nav-enter-4 0.1s linear;
	-moz-animation: nav-enter-4 0.1s linear;
	-ms-animation: nav-enter-4 0.1s linear;
}

@-webkit-keyframes nav-leave-1 {
	from {background-color: #a72d2d;}
	to {background-color: black;}
}

@-moz-keyframes nav-leave-1 {
	from {background-color: #a72d2d;}
	to {background-color: black;}
}

@-ms-keyframes nav-leave-1 {
	from {background-color: #a72d2d;}
	to {background-color: black;}
}

@-webkit-keyframes nav-enter-1 {
	from {background-color: black}
	to {background-color: #a72d2d;}
}

@-moz-keyframes nav-enter-1 {
	from {background-color: black}
	to {background-color: #a72d2d;}
}

@-ms-keyframes nav-enter-1 {
	from {background-color: black}
	to {background-color: #a72d2d;}
}

@-webkit-keyframes nav-enter-2 {
	from {background-color: black}
	to {background-color: #e09100;}
}

@-moz-keyframes nav-enter-2 {
	from {background-color: black}
	to {background-color: #e09100;}
}

@-ms-keyframes nav-enter-2 {
	from {background-color: black}
	to {background-color: #e09100;}
}

@-webkit-keyframes nav-leave-2 {
	from {background-color: #e09100;}
	to {background-color: black;}
}

@-moz-keyframes nav-leave-2 {
	from {background-color: #e09100;}
	to {background-color: black;}
}

@-ms-keyframes nav-leave-2 {
	from {background-color: #e09100;}
	to {background-color: black;}
}

@-webkit-keyframes nav-enter-3 {
	from {background-color: black}
	to {background-color: green;}
}

@-moz-keyframes nav-enter-3 {
	from {background-color: black}
	to {background-color: green;}
}

@-ms-keyframes nav-enter-3 {
	from {background-color: black}
	to {background-color: green;}
}

@-webkit-keyframes nav-leave-3 {
	from {background-color: green;}
	to {background-color: black;}
}

@-moz-keyframes nav-leave-3 {
	from {background-color: green;}
	to {background-color: black;}
}

@-ms-keyframes nav-leave-3 {
	from {background-color: green;}
	to {background-color: black;}
}

@-webkit-keyframes nav-enter-4 {
	from {background-color: black}
	to {background-color: #2256ba;}
}

@-moz-keyframes nav-enter-4 {
	from {background-color: black}
	to {background-color: #2256ba;}
}

@-ms-keyframes nav-enter-4 {
	from {background-color: black}
	to {background-color: #2256ba;}
}

@-webkit-keyframes nav-leave-4 {
	from {background-color: #2256ba;}
	to {background-color: black;}
}

@-moz-keyframes nav-leave-4 {
	from {background-color: #2256ba;}
	to {background-color: black;}
}

@-ms-keyframes nav-leave-4 {
	from {background-color: #2256ba;}
	to {background-color: black;}
}

/* section 2 */

#section-2 {
	background-color: #25267c;
	box-shadow: 0 0 20px black;
	z-index: 2;
	height: 600px;
	margin-top: -20px;
}

#sec2-video-h1 {
	margin-left: 25px;
	padding-top: 20px;
	font-family: Opti;
	color: white;
	text-shadow: 0 0 10px black;
}

#sec2-video-container {
	text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    width: 50%;
    height: 400px;
}

/* Section 3 */

#section-3 {
	height: auto;
	background-image: url(img/bg-portfolio.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 20px black inset;
	z-index: 0;
	margin-top: -27px;
	padding-bottom: 5%;
}

#sec3-wrapper {
}

#sec3-title {
	text-align: center;
	font-family: Opti;
	color: white;
	text-shadow: 0 0 10px black;
	padding-top: 50px;
	font-size: 250%;
}

#project-1-img {
	background-color: rgba(120, 173, 0, 0.6);
	width: 500px;
	height: 250px;
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: project1-leave 0.3s linear;
	-moz-animation: project1-leave 0.3s linear;
	-ms-animation: project1-leave 0.3s linear;
}

@-webkit-keyframes project1-leave {
	from {background-color: #78ad00;}
	to {background-color: rgba(120, 173, 0, 0.6);}
}

@-moz-keyframes project1-leave {
	from {background-color: #78ad00;}
	to {background-color: rgba(120, 173, 0, 0.6);}
}

@-ms-keyframes project1-leave {
	from {background-color: #78ad00;}
	to {background-color: rgba(120, 173, 0, 0.6);}
}

#project-1-img:hover {
	background-color: #78ad00;
	-webkit-animation: project1-enter 0.2s linear;
	-moz-animation: project1-enter 0.2s linear;
	-ms-animation: project1-enter 0.2s linear;
}

#project-1-img:active {
	box-shadow: 0px 0px 10px black inset;
}

@-webkit-keyframes project1-enter {
	from {background-color: rgba(120, 173, 0, 0.6);}
	to {background-color: #78ad00;}
}

@-moz-keyframes project1-enter {
	from {background-color: rgba(120, 173, 0, 0.6);}
	to {background-color: #78ad00;}
}

@-ms-keyframes project1-enter {
	from {background-color: rgba(120, 173, 0, 0.6);}
	to {background-color: #78ad00;}
}

#project-2-img {
	background-color: rgba(0, 27, 173, 0.6);
	width: 500px;
	height: 250px;
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: project2-leave 0.3s linear;
	-moz-animation: project2-leave 0.3s linear;
	-ms-animation: project2-leave 0.3s linear;
}

@-webkit-keyframes project2-leave {
	from {background-color: #001bad;}
	to {background-color: rgba(0, 27, 173, 0.6);}
}

@-moz-keyframes project2-leave {
	from {background-color: #001bad;}
	to {background-color: rgba(0, 27, 173, 0.6);}
}

@-ms-keyframes project2-leave {
	from {background-color: #001bad;}
	to {background-color: rgba(0, 27, 173, 0.6);}
}


#project-2-img:hover {
	background-color: #001bad;
	-webkit-animation: project2-enter 0.2s linear;
	-moz-animation: project2-enter 0.2s linear;
	-ms-animation: project2-enter 0.2s linear;	
}

#project-2-img:active {
	box-shadow: 0px 0px 10px black inset;
}

@-webkit-keyframes project2-enter {
	from {background-color: rgba(0, 27, 173, 0.6);}
	to {background-color: #001bad;}
}

@-moz-keyframes project2-enter {
	from {background-color: rgba(0, 27, 173, 0.6);}
	to {background-color: #001bad;}
}

@-ms-keyframes project2-enter {
	from {background-color: rgba(0, 27, 173, 0.6);}
	to {background-color: #001bad;}
}

/* Section 4 */

#section-4 {
 	height: 350px;
	background-color: #4e276f;
	margin-top: -27px;
}

#sec4-title {
	text-align: center;
	font-family: Opti;
	color: white;
	text-shadow: 0 0 10px black;
	padding-top: 50px;
	font-size: 250%;
}

#sec4-about-text {
	font-family: robot;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 0px black;
}

/* Section 5 */

#section-5 {
	background-image: url(img/bg-aboutme.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 20px black inset;
	z-index: 0;
	margin-top: -27px;
	height: 600px;
}

#sec5-icons {
	text-align: center;
}

#youtube {
	text-align: center;
	-webkit-animation: contact-leave 0.3s linear;
	-moz-animation: contact-leave 0.3s linear;
	-ms-animation: contact-leave 0.3s linear;
}

#gp {
	text-align: center;
	-webkit-animation: contact-leave 0.3s linear;
	-moz-animation: contact-leave 0.3s linear;
	-ms-animation: contact-leave 0.3s linear;
}

#reddit {
	text-align: center;
	-webkit-animation: contact-leave 0.3s linear;
	-moz-animation: contact-leave 0.3s linear;
	-ms-animation: contact-leave 0.3s linear;
}

#twitter {
	text-align: left;
	-webkit-animation: contact-leave 0.3s linear;
	-moz-animation: contact-leave 0.3s linear;
	-ms-animation: contact-leave 0.3s linear;
}

#soundcloud {
	text-align: right;
	-webkit-animation: contact-leave 0.3s linear;
	-moz-animation: contact-leave 0.3s linear;
	-ms-animation: contact-leave 0.3s linear;
}

#youtube:hover {
	-webkit-animation: contact-enter 0.1s linear;
	-moz-animation: contact-enter 0.1s linear;
	-ms-animation: contact-enter 0.1s linear;
	opacity: 0.8;
}

#gp:hover {
	-webkit-animation: contact-enter 0.1s linear;
	-moz-animation: contact-enter 0.1s linear;
	-ms-animation: contact-enter 0.1s linear;
	opacity: 0.8;
}

#reddit:hover {
	-webkit-animation: contact-enter 0.1s linear;
	-moz-animation: contact-enter 0.1s linear;
	-ms-animation: contact-enter 0.1s linear;
	opacity: 0.8;
}

#twitter:hover {
	-webkit-animation: contact-enter 0.1s linear;
	-moz-animation: contact-enter 0.1s linear;
	-ms-animation: contact-enter 0.1s linear;
	opacity: 0.8;
}

#soundcloud:hover {
	-webkit-animation: contact-enter 0.1s linear;
	-moz-animation: contact-enter 0.1s linear;
	-ms-animation: contact-enter 0.1s linear;
	opacity: 0.8;
}

@-webkit-keyframes contact-leave {
	from {opacity: 0.8;}
	to {opacity: 1}
}

@-moz-keyframes contact-leave {
	from {opacity: 0.8;}
	to {opacity: 1}
}

@-ms-keyframes contact-leave {
	from {opacity: 0.8;}
	to {opacity: 1}
}

@-webkit-keyframes contact-enter {
	from {opacity: 1;}
	to {opacity: 0.8}
}

@-moz-keyframes contact-enter {
	from {opacity: 1;}
	to {opacity: 0.8}
}

@-ms-keyframes contact-enter {
	from {opacity: 1;}
	to {opacity: 0.8}
}

#sec5-text {
	font-family: arial;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px black;
	font-size: 200%;
}

#email {
	text-align: center;
	font-family: robot;
	color: white;
	font-size: 300%;
	text-shadow: 0px 0px 10px black;
	background-color: #b23a9f;
	padding: 20px;
	width: 70%;
	box-shadow: 0 0 20px black;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10%;
}

#email:hover {
	background-color: #983288;
}

#email:active {
	box-shadow: 0px 0px 20px black inset;
}

/* other */

::selection {
  background: rgba(255, 235, 0, 0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 235, 0, 0.5); /* Gecko Browsers */
}

#return-top {
	position: fixed;
	z-index: 1;
	bottom: 1%;
	margin-left: 20px;
	padding: 5px;
	background-color: rgba(0, 57, 98, 0.67);
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}

#return-top:active {
	box-shadow: 0px 0px 5px black inset;
}

#return-top-p {
	font-family: robot;
	color: white;
}

footer {
	background-color: #25267c;
	padding: 5px;
	box-shadow: 0px 0px 10px;
	line-height: 2;
}

.footer {
	font-family: robot;
	color: white;
	text-align: center;
	cursor: pointer;
}

	
/* resposive */

@media screen and (max-width: 980px) {
	
body {
	background-color: #272762;
	margin: 0;
	overflow-x: visible;
	line-height: 2;
	min-width: 694px;
}
 
#logo-img {
	opacity: 1;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
	
#nav-sec1-container {
	width: 100%;
	background-color: #4e276f;
	height: 20%;
}
	
#sec1-nav-link1 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 1);
	font-size: 150%;
	padding-right: 1px;
	margin-top: 0;
	-webkit-animation: nav-leave-1 0.1s linear;
	-moz-animation: nav-leave-1 0.1s linear;
	-ms-animation: nav-leave-1 0.1s linear;
}

#sec1-nav-link2 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-2 0.1s linear;
	-moz-animation: nav-leave-2 0.1s linear;
	-ms-animation: nav-leave-2 0.1s linear;
}

#sec1-nav-link3 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-3 0.1s linear;
	-moz-animation: nav-leave-3 0.1s linear;
	-ms-animation: nav-leave-3 0.1s linear;
}

#sec1-nav-link4 {
	color: white;
	font-family: robot;
    display: block;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-size: 150%;
	padding-right: 1px;
	-webkit-animation: nav-leave-4 0.1s linear;
	-moz-animation: nav-leave-4 0.1s linear;
	-ms-animation: nav-leave-4 0.1s linear;
}
	
#sec1-logo-helper {
	width: auto;
	background: none;
	height: 100%;
}
	
#section-1 {
	text-align: center;
}
	
#section-2 {
	background-color: #25267c;
	box-shadow: 0 0 20px black;
	z-index: 2;
	margin-top: 28%;
	height: 20%;
	padding: 4%;
}
 
#section-3 {
	padding: 2%;
}
	
#section-4 {
	background-color: #4e276f;
	height: 25%;
	margin-bottom: 0;
}

#sec4-title {
	text-align: center;
	font-family: Opti;
	color: white;
	text-shadow: 0 0 10px black;
	padding-top: 50px;
	font-size: 250%;
}

#sec4-about-text {
	font-family: robot;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 0px black;
	margin: 20px;
}
	
#project-1-img {
	background-color: rgba(120, 173, 0, 0.6);
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
#project-2-img {
	background-color: rgba(0, 53, 173, 0.6);
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
#section-5 {
	height: 25%;
}
	
footer {
	height: 3%;
}

#email {
	text-align: center;
	font-family: robot;
	color: white;
	font-size: 100%;
	text-shadow: 0px 0px 10px black;
	background-color: #b23a9f;
	padding: 20px;
	width: 70%;
	box-shadow: 0 0 20px black;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10%;
}
	
}