@font-face {
    font-family:mainFontConcept;
    src:url(font/big_noodle_titling.ttf);
}

body {
	background-color: black
}

#logo {
	height:50%;
   width: 50%;
   margin: 0;
   padding: 0;
   border: 0;

}

div {
	 vertical-align: middle;
   text-align: center;
}