@font-face {
    font-family:mainFontConcept;
    src:url(font/big_noodle_titling.ttf);
}

body {
	background-image: url(img/background.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#logo {
	width: 40%;
	height: 40%;
	display: inline-grid;
	margin: auto;
}