body {
	background-color: #ff6d6d;
}

@font-face {font-family: mainFont; src: url(fonts/coolvetica_rg.ttf);}

@font-face {font-family: secondaryFont; src: url(fonts/basictitlefont.ttf)}

h1.main {
	font-family: mainFont;
	color: white;
	text-align: center;
	font-size: 400%;
	margin-top: auto;
	margin-bottom: auto;
}

p.main {
	font-family: secondaryFont;
	color: white;
	text-align: center;
	font-size: 300%;
	margin-top: auto;
	margin-bottom: auto;
}