body {
	background-color: #2a5dbe;
}

#tardis-container {

}

#tardis {
	height: 25%;
	width: 25%;
	margin: 0;
	opacity: 0;
	-webkit-animation: tardis 10s infinite;
}

@-webkit-keyframes tardis {
	0% {opacity: 0.2;}
	25% {opacity: 0.5;}
	50% {opacity: 0;}
	75% {opacity: 1;}
	100% {opacity: 0.2}
}

#tardis-h {
	display: flex;
    justify-content: center;
}

#tardis-v {
	display: flex;
    flex-direction: column;
    justify-content: center;
}